
.works {
   background-color: $white;


   h3 {
      @include medium-header;
   }

   .filter {
      border: 1px solid $blue;
      padding: 10px 30px;
      position: relative;
   }
}


.custom-select {
   width: 300px;
   border: 1px solid $blue;
   position: relative;

   @include tab-screen {
      width: 230px;
   }
 }
 
 .custom-select select {
   display: none;
 }
 
 .select-selected {
   background-color: $white;
 }
 
 .select-selected:after {
   position: absolute;
   content: "";
   top: 25px;
   right: 10px;
   width: 0;
   height: 0;
   border: 6px solid transparent;
   border-color: $blue transparent transparent transparent;
 }

 .select-selected.select-arrow-active:after {
   border-color: transparent transparent $blue transparent;
   top: 17px;
 }
 
 .select-items div,.select-selected {
   color: $blue;
   background-color: $white;
   padding: 15px;
   cursor: pointer;
   user-select: none;
   transition: all .3s;
 }

 .select-items {
   position: absolute;
   background-color: $blue;
   top: 100%;
   left: -1px;
   right: -1px;
   z-index: 99;
   border: 1px solid $blue;
 }

 .select-hide {
   display: none;
 }
 
 .select-items div:hover, .same-as-selected {
   background-color: rgba(0, 0, 0, 0.1);
   color: $white;
}

.overly-box {
   margin-bottom: 30px;
   overflow: hidden;

   a {
      display: block;
      position: relative;
      transition: all .35s;

      &::after {
         position: absolute;
         content: '';
         left: 0;
         right: 0;
         bottom: 0;
         top: 0;
         height: 100%;
         width: 100%;
         background-color: #4640DEAD;
         opacity: 0;
         transition: opacity 0.35s;
      }

      &:hover::after{
         opacity: 1;
      }

      &:hover img {
         transform: translate3d(0,0,0);
      }
      &:hover .overly-area {
         opacity: 1;
         transform: translate3d(0,0,0);
      }
   }

   .overly-area {
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #fff;
      z-index: 99;
      transform: translate3d(-20px,0,0);
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s;
   }

   img {
      display: block;
      width: calc(100% + 50px);
      transition: opacity 0.35s, transform 0.35s;
      transform: translate3d(-50px,0,0);
   }

   p {
      font-weight: $bold;
      color: $white;
   }
}