@import '../abstracts/variables';

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 0;

   .hello {
      #hello {
         background-color: $blue;
         color: $white;
         font-weight: $bold;
         padding: 12px 33px;
         position: relative;
         transition: all .3s;

         @include tab-screen {
            padding: 10px 20px;
         }

         &::after {
            content: '';
            position: absolute;
            height: 0;
            border-style: solid;
            border-width: 0 0 15px 20px;
            border-color: transparent transparent $blue transparent;
            top: -12px;
            right: 0;
         }
      }
   }
}
