@import '../abstracts/variables';
@import '../abstracts/mixins';

.question-box, 
.planner-box{
   background-color: #ffffffbd;

   .modal-content {
      box-shadow: 0px 0px 20px 2px #4640de66;
      padding: 40px;
      border: 0;
      border-radius: 0;
      max-width: 900px;
      margin: 0 auto;

      @include medium-screen {
         max-width: 800px;
         padding: 20px;
      }
      @include tab-screen {
         max-width: 600px;
      }
   }

   .modal-dialog {
      max-width: 900px;
   }
   .modal-header {
      border-bottom: 0;
      padding: 0;
      margin-bottom: 20px;

      h3 {
         @include medium-header;
      }

      button {
         transition: ease-in-out .3s;
         position: relative;
         width: 50px;
         margin-top: 15px;
         height: 40px;

         @include mobile-screen {
            width: 35px;
         }
         
         span {
            background-color: $blue;
            display: block;
            position: absolute;
      
            &.x-line {
               width: 40px;
               height: 3px;
               top: 10px;
               transform: rotate(45deg);

               @include mobile-screen {
                  width: 30px;
                  height: 3px;
                  top: 4px;
                  left: 5px;
               }
            }
      
            &.y-line {
               width: 3px;
               height: 40px;
               top: -8px;
               left: 19px;
               transform: rotate(45deg);

               @include mobile-screen {
                  width: 3px;
                  height: 30px;
                  top: -10px;
                  left: 20px;
               }
            }
         }
      }
   }
   .modal-body {
      padding: 0;
   }
}

.planner-form,
.question-form {

   label {
      display: block;
   }

   input,
   textarea {
      border: 1px solid $blue;
      padding: 15px 10px;
      margin-bottom: 15px;
      color: $black;
      width: 100%;

      &::placeholder {
         color: $black;
         opacity: 1; /* Firefox */
      }
      
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
         color: $black;
      }
      
      &::-ms-input-placeholder { /* Microsoft Edge */
         color: $black;
      }

      @include tab-screen {
         padding: 5px 10px;
         margin-bottom: 10px;
      }
      @include mobile-screen {
         margin-bottom: 5px;
      }
   }

   .submit {
      background-color: $blue;
      text-align: center;
      text-transform: uppercase;
      padding: 17px 0;
      color: $white;
      display: block;
      width: 100%;
      margin-top: 15px;
      transition: ease .4s;

      &:hover {
         background-color: #17129B;
      }

      @include tab-screen {
         margin-bottom: 15px;
      }
   }

   .phone {
      li {
         font-weight: $bold;
         color: $black;
         margin-bottom: 5px;

         a {
            font-weight: 400;
         }
      }
   }

}

.planner-box {

   h6 {
      margin: 20px 0;
      font-weight: $bold;
   }

}

.question-form {
   p,
   ul {
      margin-bottom: 0;
   }
}


.social {

   li {
      display: inline-block;
      margin: 0 10px;

      i {
         color: $black;

         &:hover {
            color: $blue;
         }
      }
   }
   
}

.project-tab {
   
   
   a {
      text-transform: uppercase;
      color: $blue;
      position: relative;
      border: 1px solid $blue;
      text-align: center;
      padding: 10px 0;
      margin-bottom: 10px;
      transition: ease-in-out .3s;
      width: 32%;

      @include mobile-screen {
         width: 100%;
      }

      &.active {

         &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -12px;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent $blue transparent;
         }
      }
      &.active {
         background-color: $blue;
         color: $white;
      }
   }

   .tab-content {
         border: 1px solid $blue;
         padding: 15px;
   }

}



@keyframes animatetop {
   0% {
      top: -500px; 
      opacity: 0;
   }
   100% {
      top: 0; 
      opacity: 1;
   }
   
}