@import '../abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   font-size: $small-font;
}

body {
   background-color: $white;
   height: 100%;
}
li {
   list-style: none;
}
a:hover,
a {
   text-decoration: none;
   color: inherit;
}

button {
   background-color: transparent;
   border: 0;
   outline: 0;
   cursor: pointer;
   &:focus {
      outline: 0;
      border: 0;
   }
   &:active {
      outline: 0;
      border: 0;
   }
}